@use '../../App.scss';

// Game board container
.game-board {
    flex: 1;
    display: flex;
    flex-direction: column;
}

// Styling for the game board
.game-board-top {
    margin-bottom: auto;
}

// Styling for the game board
.game-board-bottom {
    margin-top: auto;
    margin-bottom: 5vh;
}

// Game error styles
.game-error {
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

// Letter is in the same position as the solution
.correct-letter {
    background-color: App.$correct-letter-color !important;
    border-color: App.$correct-letter-color !important;
}

// Letter makes up the solution
.contains-letter {
    background-color: App.$contains-letter-color !important;
    border-color: App.$contains-letter-color !important;
}

// Letter does not make up the solution
.invalid-letter {
    background-color: App.$invalid-letter-color !important;
    border-color: App.$invalid-letter-color !important;
}